PORT=4000
NODE_ENV=development

AWS_REGION=us-east-1

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

COGNITO_USER_POOL_ID=
COGNITO_CLIENT_ID=
COGNITO_DOMAIN=

AWS_IOT_ENDPOINT=

AWS_IOT_CLIENT_ID=
AWS_IOT_TOPIC_TELEMETRY=
AWS_IOT_TOPIC_PREFIX=

DYNAMODB_DEVICES_TABLE=
DYNAMODB_USER_TABLE=
DYNAMODB_DASHBOARD_TABLE=
DYNAMODB_ALERT_TABLE=
DYNAMODB_SUBSCRIPTIONS_TABLE=
DYNAMODB_PAYMENT_TABLE=

AWS_S3_BUCKET=

SES_FROM_EMAIL=ssrautomation2004@gmail.com

SES_CONTACT_EMAIL=ssrautomation2004@gmail.com

LAMBDA_API_KEY=

RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=